// colour palette
$primary: #FFFFFF;
$primary-light: #FFFFFF;
$primary-dark: #cccccc;

$accent: #03a9f4;
$accent-light: #67daff;
$accent-dark: #007ac1;

$background: #F5F5F6;
$background-light: #FFFFFF;

$text-dark: #000000;
$text-light: #FFFFFF;

// speeds
$fast: 200ms;

@import "../material-components-web/@material/elevation/mixins";
@import "../material-components-web/@material/theme/mdc-theme";
@import "../material-components-web/@material/animation/functions";

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


body{
	margin: 0px; 
}


#header{
	background-color: $primary;
}

.mdc-toolbar__title{
	color: $accent-dark;
}

.toolbar {
	align-items: center !important;
	justify-content: flex-end !important;
}

#logo {
	margin-left: 5px;
	margin-bottom: 7px;
	margin-right: auto;
	max-height: 40px;
}

#twitterButton {
	color: #1DA1F2;
}

#linkedinButton {
  color: #0077B5;
 }

.fabAnimation{
	height: 200px;
	width: 100%;
	margin-left: 50%;
	transition: margin-top $fast, ease-all;
  	will-change: margin-top;	
  	display: flex;
  	align-items: flex-end;
}

#fab{
	background-color: $accent;
	color: $text-light; 
	z-index: 5;
}

.fabAnimation:hover > #fab > i{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform:rotate(360deg);
	transition: all 0.3s ease-in-out;
}

#fab > i{
	-moz-transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	transform:rotate(-360deg);
	transition: all 0.3s ease-in-out;
}

#linkedin{
	z-index: 4;
	position: absolute;
	transform: translate(8px, -8px);
	transition: transform 0.1s ease-in-out !important;
}

.move{
	transform: translate(8px, -65px) !important;
	transition: transform 0.1s ease-in-out !important;
}

.fabWrapper{
	position: fixed;
	align-self: flex-end;
	margin-top: 80vh;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: auto;
	min-height: 100vh;
	transition: background-color $fast, ease-all;
}

.container-top{
	z-index: 2;
	display: flex;
	align-self: flex-start;
	height: 7vh;
	width: 100vw;
	margin-top: 0px;
	margin-bottom: 5px;
	@include mdc-elevation(7);    
}

.card{
	margin-top: 10px;
	background-color: white;
}

.imageCard > section {
	background-color: rgba(0, 0, 0, 0.5);
}

.fractionCards{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.leftCard{
	margin-right: 5px;
}

.rightCard{
	margin-left: 5px;
}

.container-center{
	display: flex;	
	flex-direction: column;
	height: 100%;
	width: 70%;
	margin: auto;
	margin-top: 0px;
	transition: background-color $fast, ease-all;
}

.container-bottom{
	display: flex;
	align-self: flex-end;
	flex-direction: row-reverse;
	height: auto;
	margin: auto;
	margin-bottom: 0px;
}

#footer{
	color: $primary-dark;
	margin-right: 5px;
	margin-bottom: 5px;
}

.mobile, .mobile *{
		display: none;
	}

#introCard{
	background-image: url("../images/background-min.jpg");
	background-size: cover;
	background-position: center;
	height: 400px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

	html, body {
	    max-width: 100%;
	    overflow-x: hidden;
	}

	.fractionCards{
		display: initial;
	}
	
	.leftCard{
		margin-right: initial;
	}
	
	.rightCard{
		margin-left: initial;
	}

    .container-center-big{
    	width: 400%;
    	display: flex !important;
		flex-direction: row;
		margin-top: 15%;
    	//transition: mdc-animation-exit(/* $name: */ margin, /* $duration: */ $fast);
    	//-webkit-transition: all 0.2s ease-in-out;
  		//-moz-transition: all 0.2s ease-in-out;
  		//-o-transition: all 0.2s ease-in-out;
  		//transition: all 0.2s ease-in-out;
    	//will-change: margin;
    }

    .container-center{
    	width: 100%;
    }

    .container-bottom{
    	margin-bottom: 50px;
    }

    #header{
		//margin-top: -1px;
    }

    .card{
		margin: 5px;	
	}

	.nonMobile, .nonMobile *{
		display: none;
	}

	.mobile, .mobile *{
		display: initial;
	}

	#mobileBottomBar{
		bottom:0;
		top: initial;
		background-color: $primary;
	}

	#mobileBottomBar > .mdc-toolbar__row{
		margin-top: 0px;
		padding: 0px;
		display: flex;	
		flex-direction: row;
	}

	#mobileBottomBar > .mdc-toolbar__row > .mdc-button{
		border-radius: 0px;
	}

	.mobileBottomBarItem{
		height: 56px !important;
		width: 25%;
		color: #565656 !important;
		display: flex !important;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		line-height: initial !important;
		text-transform: initial !important;
	}

	.mobileBottomBarItem:hover, .mobileBottomBarItem:hover > p, .hover{
		color: $accent !important;
		transition: all 0.2s ease-in-out;
	}

	.mobileBottomBarItem > p{
		margin: 0px;
		margin-top: 5px;
		font-size: 0.8em;
		//color: #565656 !important;
	}
}