// colour palette
$primary: #FFFFFF;
$primary-light: #FFFFFF;
$primary-dark: #cccccc;

$accent: #03a9f4;
$accent-light: #67daff;
$accent-dark: #007ac1;

$background: #F5F5F6;
$background-light: #FFFFFF;

$text-dark: #000000;
$text-light: #FFFFFF;

body{
	margin: 0px; 
}
.mobile, .mobile *{
		display: none;
	}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

	html, body {
	    max-width: 100%;
	    overflow-x: hidden;
	}


	.nonMobile, .nonMobile *{
		display: none;
	}

	.mobile, .mobile *{
		display: initial;
	}

}