// colour palette
$primary: #FFFFFF;
$primary-light: #FFFFFF;
$primary-dark: #cccccc;

$accent: #03a9f4;
$accent-light: #67daff;
$accent-dark: #007ac1;

$background: #F5F5F6;
$background-light: #FFFFFF;

$text-dark: #000000;
$text-light: #FFFFFF;

// speeds
$fast: 200ms;

@import "../material-components-web/@material/elevation/mixins";
@import "../material-components-web/@material/theme/mdc-theme";
@import "../material-components-web/@material/animation/functions";

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body{
	margin: 0px; 
}

#header{
	background-color: $primary;
}

.mdc-toolbar__title{
	color: $accent-dark;
}

.fabAnimation{
	height: inherit;
	width: 100%;
	margin-left: 50%;
	margin-top: 20vh;
	transition: mdc-animation-exit(/* $name: */ margin-top, /* $duration: */ $fast);
  	will-change: margin-top;	
}

#fab{
	background-color: $accent;
	color: $text-light; 
}

#fab:hover > i{
	animation: mdc-animation-enter(spin, $fast);
}

.fabWrapper{
	position: fixed;
	align-self: flex-end;
	margin-top: 80vh;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: auto;
	width: 100vw;
	min-height: 100vh;
	transition: mdc-animation-exit(/* $name: */ background-color, /* $duration: */ $fast);
}

.container-top{
	z-index: 2;
	display: flex;
	align-self: flex-start;
	height: 7vh;
	width: 100vw;
	margin-top: 0px;
	margin-bottom: 5px;
	@include mdc-elevation(7);
}

.card{
	margin-top: 10px;
	background-color: white;
}

.container-center{
	display: flex;	
	flex-direction: column;
	height: 100%;
	width: 70%;
	margin: auto;
	margin-top: 0px;
	transition: mdc-animation-exit(/* $name: */ background-color, /* $duration: */ $fast);
}

.container-bottom{
	display: flex;
	align-self: flex-end;
	flex-direction: row-reverse;
	height: auto;
	width: 100vw;
	margin: auto;
	margin-bottom: 0px;
}

#footer{
	color: $primary-dark;
	margin-right: 5px;
	margin-bottom: 5px;
}

.mobile, .mobile *{
		display: none;
	}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container-center{
    	width: 100%;
    }

    #header{
    	margin-top: -1px;
    }

    .card{
		margin: 5px;	
	}

	.nonMobile, .nonMobile *{
		display: none;
	}

	.mobile, .mobile *{
		display: initial;
	}

	#mobileBottomBar{
		bottom:0;
		top: initial;
		background-color: $primary;
		margin-bottom: -5px;
	}

	#mobileBottomBar > .mdc-toolbar__row{
		margin-top: 0px;
		padding: 0px;
		display: flex;	
		flex-direction: row;
	}

	.mobileBottomBarItem{
		height: 100%;
		width: 25%;
		color: #565656 !important;
		display: flex !important;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		line-height: initial !important;
		text-transform: initial !important;
		height: 100% !important;
	}

	.mobileBottomBarItem > p{
		margin: 0px;
		font-size: 0.7em;
		color: #565656 !important;
	}
}