$icomoon-font-path: "." !default;

$icon-google-plus: "\ea8b";
$icon-google-plus3: "\ea8d";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-twitter: "\31";
$icon-linkedin: "\eac9";
$icon-linkedin2: "\eaca";
